<header title="Angular2 - Semantic UI" logo="/assets/images/angular.png"></header>
<page>
	<div class="ui main container">
		<h2 class="ui dividing header">{{title}}</h2>
		<p>{{text}}</p>
		<h4 class="ui dividing header">Live edit</h4>
		<div class="ui form">
			<div class="field">
				<textarea (input)="onChange($event.target.value)">{{text}}</textarea>
			</div>
		</div>
		<h4 class="ui dividing header">Events</h4>
		<div class="item">
			<div *ng-for="var event of events">{{event}}</div>
		</div>
	</div>
</page>