<!-- This gonna be implemented -->
<sm-header title="Angular2 - Semantic UI" class="fixed" logo="/assets/images/angular.png"></sm-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<sm-header title="ngSemantic" class="fixed" logo="/assets/images/angular.png"></sm-header>
    </textarea>
  </div>
</div>

<sm-header title="Angular2" class="inverted teal" logo="/assets/images/semantic.png"></sm-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<sm-header title="Angular2" class="inverted teal" logo="/assets/images/semantic.png"></sm-header>
    </textarea>
  </div>
</div>

<sm-header title="Vertical" class="vertical"></sm-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<sm-header title="Vertical" class="vertical"></sm-header>
    </textarea>
  </div>
</div>

<sm-header title="Secondary" class="secondary"></sm-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<sm-header title="Secondary" class="secondary"></sm-header>
    </textarea>
  </div>
</div>