<!-- This gonna be implemented -->
<ui-header title="Angular2 - Semantic UI" class="fixed" logo="/assets/images/angular.png"></ui-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<ui-header title="ngSemantic" class="fixed" logo="/assets/images/angular.png"></ui-header>
    </textarea>
  </div>
</div>

<ui-header title="Angular2" class="inverted teal" logo="/assets/images/semantic.png"></ui-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<ui-header title="Angular2" class="inverted teal" logo="/assets/images/semantic.png"></ui-header>
    </textarea>
  </div>
</div>

<ui-header title="Vertical" class="vertical"></ui-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<ui-header title="Vertical" class="vertical"></ui-header>
    </textarea>
  </div>
</div>

<ui-header title="Secondary" class="secondary"></ui-header>
<div class="ui form">
  <div class="field">
    <textarea rows="2" class="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
<ui-header title="Secondary" class="secondary"></ui-header>
    </textarea>
  </div>
</div>