<div class="full height">
	<div class="toc">
		<div class="ui vertical inverted sticky menu" style="width: 250px !important; left: 0px; top: 0px;">
			<div class="item">
				<a class="ui mini images" href="/">
				<img class="ui image" src="/demo/assets/images/angular.png">
				<img class="ui image" src="/demo/assets/images/semantic.png">
				</a>
				<b class="logo">ngSemantic</b>
			</div>
			<a class="item" href="#/">
				<b>Getting Started</b>
			</a>
			<div class="item">
				<div class="active  header">Elements</div>
				<div class="menu">                            
					<a class="item" [routerLink]="['/elements/button']">Button</a>
					<a class="item" [routerLink]="['/elements/flag']">Flag</a>
					<a class="item" [routerLink]="['/elements/loader']">Loader</a>
					<a class="item" [routerLink]="['/elements/list']">List</a>
					<a class="item" [routerLink]="['/elements/segment']">Segment</a>
				</div>
			</div>
			<div class="item">
				<div class="active  header">Collections</div>
				<div class="menu">                            
					<a class="item" [routerLink]="['/elements/menu']">Menu</a>
					<a class="item" [routerLink]="['/elements/form']">Form</a>
					<a class="item" [routerLink]="['/elements/message']">Message</a>
				</div>
			</div>
			<div class="item">
				<div class="active  header">Views</div>
				<div class="menu">                            
					<a class="item" [routerLink]="['/elements/card']">Card</a>
				</div>
			</div>
			<div class="item">
				<div class="active  header">Modules</div>
				<div class="menu">
					<a class="item" [routerLink]="['/elements/accordion']">Accordion</a>
					<a class="item" [routerLink]="['/elements/dimmer']">Dimmer</a>
					<a class="item" [routerLink]="['/elements/modal']">Modal</a>
					<a class="item" [routerLink]="['/elements/sidebar']">Sidebar</a>
					<a class="item" [routerLink]="['/elements/popup']">Popup &amp; Tooltip</a>
					<a class="item" [routerLink]="['/elements/progress']">Progress</a>
					<a class="item" [routerLink]="['/elements/tab']">Tab</a>
				</div>
			</div>
		</div>
	</div>
	<div class="article">
		<router-outlet></router-outlet>
	</div>
</div>
<!-- <div class="ui black inverted vertical footer segment"></div> -->
	