<div class="ui masthead vertical segment">
    <div class="ui container">
        <h1>Getting Started</h1>
        <p>Angular2 building blocks based on Semantic UI</p>
        <ul class="">
            <li class="item">Angular 2 <a href="https://angular.io/" target="_blank">angular.io</a></li>
            <li class="item">Semantic UI <a href="http://semantic-ui.com/" target="_blank">semantic-ui.com</a></li>
            <li class="item"><b>GitHub repository</b> <a href="https://github.com/vladotesanovic/ngSemantic">https://github.com/vladotesanovic/ngSemantic</a> ( If you like it, give it a star <i class="icon star"></i> )</li>
          </ul>
    </div>
</div>
<div class="main ui container">
    <h2>Installation</h2>
        <ul>
            <li>In your default page include semantic.min.css file</li>
        </ul>
        <p>ToDo</p>
    <h2>Starter project</h2>
        <p>ToDo</p>
    <h2>Contribute</h2>
        <p>ToDo</p>
</div>