<!-- index.html -->
<html>

<head>
    <title>Angular2 - Semantic UI kickstarter</title>
    <script src="https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.87/traceur-runtime.js"></script>
    <script src="/node_modules/systemjs/dist/system.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- 
    @todo resolve dependency with jQuery
    <script src="/semantic/dist/semantic.min.js"></script> -->
    <script>
    //configure system loader
    System.config({
        defaultJSExtensions: true
    });
    </script>
    <script src="/node_modules/angular2/bundles/angular2.min.js"></script>
    <script src="/node_modules/angular2/bundles/router.dev.js"></script>
</head>

<body>
    <app></app>
    <script>
    System.import('/generated/bootstrap');
    </script>
</body>

</html>
